#form_mode {
    .toggle-switch {
        left: 1%;
        position: relative;
        width: 40px;
    }
    
    label {
        position: absolute;
        width: 100%;
        height: 20px;
        background-color: #4ABDF2;
        border : 2px;
        border-radius: 10px;
        border-style: inset;
        cursor: pointer;
    }
    
    .input_mode {
        position: absolute;
        display: none;
    }
    
    .slider {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: 0.3s;
    }
    
    input:checked ~ .slider {
        background-color: white;
    }
    
    .slider::before {
        content: "";
        position: absolute;
        top: 2.6px;
        left: 3.2px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        box-shadow: inset 5.6px -0.8px 0px 0px white;
        background-color: #4ABDF2;
        transition: 0.3s;
    }
    
    input:checked ~ .slider::before {
        transform: translateX(19px);
        background-color: #FEC601;
        box-shadow: none;
    }
}



#weather-3D {
    height: 500px;
}



body {
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    color: var(--colorText);
    width: 100%;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.zeroMargin {
    margin:0;
}

.startMargin {
    padding: 0 4%;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    white-space:nowrap;
}

.subtitle {
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
}

.NW-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5%;

    width: 92%;

    .NW-header__titles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 12px 0px 4px;
        gap: 6px;
        order:0;
        
        color: var(--colorSoft);

        // .NW-header__titles--Primary {
            
        // }
        
        // .NW-header__titles--Secondary {
        
        // }
    }

    .NW-header__icon {
        margin-left: auto;

        width: 24px;
        height: 24px;
        order: 2;

        .NW-header__icon--img {
            width: 24px;
            height: 100%;
        }
    }

    .NW-header__logo {
        width: 46px;
        height: 46px;
        order: 3;
    }
}



.NW-interface3D {
    width : 88vw;
    height: 77vw;
    /* background-color: red; */

    .NW-interface3D__interaction{
        padding: 0 6.25%;
        width : 87.5%;
        height : 100%;
    }
}



.NW-meta {
    margin-top: -90px;
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    color: var(--colorSoft);

    .NW-meta__temp {
        position: relative;
        top:20%;
        left:2%;
    
        font-weight: 600;
        font-size: 70px;
    
        background: var(--colorDegrade);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .NW-meta__quote {
        margin: 24px;
    }
}



.NW-pannel {
    background-color: var(--colorPannel);
    margin-top: 30px;
    padding: 16px 4.5%;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 100%;

    border-radius: 40px 40px 0px 0px;

    flex: none;
    order: 2;
    flex-grow: 0;

    .NW-pannel-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        width: 100%;
        height: 52px;

        .NW-pannel-header_text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 12px 0px 4px;
            gap: 8px;
            width: auto;
            
            .NW-pannel-header_text--title {
                color: var(--colorMediumHight);
            }

            a {
                text-decoration: none;
                
                .NW-pannel-header_text--subtitle {
                    color: var(--colorMedium);
                    opacity: 0.82;
                }
            }
        }

        .NW-pannel-header_icon {
            width: 30px;
            height: 30px;

            img {
                width: 100%;
                height: auto;
            }
        }

        margin-bottom: 10px;
    }

    .NW-pannel-infoArchive {
        text-decoration: none;

        p {
            text-align: center;
            color: var(--colorMedium);
            text-decoration: underline;
        }
    }
}




.NW-footer {
    background-color: var(--colorPannel);
    padding: 20px 4.5%;
    height: 120px;


    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    order: 8;

    font-size: 12px;
    font-style: italic;

    .NW-footer__primaryInfo {
        display: flex;
        flex-direction: row;
        align-items: space-between;
        order: 0;
        margin:0;
        width: 100%;
        height: 30px;

        .NW-footer__primaryInfo--texte {
            display: block;
            font-weight: 400;
            text-decoration-line: underline;
            order:0;
            margin:0;
            width:100%;
        
            text-decoration:  none;
            color: var(--colorText);
        }

        .NW-footer__primaryInfo--iconMode {
            margin: 2px 0;
            padding-left: 4px; 
            padding-right: 8px; 
            width: 44px;
        }
    }

    .NW-footer__secondaryInfo {
        display: block;
        font-weight: 400;
        text-decoration-line: underline;
        margin:0;
    
        order: 1;
        align-self: stretch;
    
        text-decoration:  none;
        color: var(--colorText);
    }

    .NW-footer__certif {
        width: 100%;
        font-weight: 200;
        text-align: right;
    
        order: 2;
    
        text-decoration:  none;
        color: var(--colorText);
    }
}





.NW-pannelBodyPage {
    margin-top: 50px;
    flex: 1;

    display: flex;
    flex-direction: column;
    


    padding: 25px 25px 0px;
    gap: 12px;

    background: var(--colorPannel);
    border-radius: 40px 40px 0px 0px;

    .NW-header {
        display: flex;
        flex-direction: row;
        padding: 0px;
        justify-content: space-between;
        width: 100%;

        .NW-header__titles {
            color: var(--colorText);
        }

        .NW-header__logo {
        // margin-left: auto;

            img {
                width: 46px;
                height: 46px;
                order: 1;
            }
        }
    }

    .connect-Space {
        width:100%;
    
        .connect-Space_advert {
            text-align: center;
            margin-top: 24px;
            color: var(--colorSoft);
        }
    
        #connect-Space_form {    
            width: 100%;
            height: auto;
    
            .box-connect {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 20px;
                gap: 2px;
    
                width: 100%;
                height: auto;
            }
    
            input {
                width: 94%;
            }
    
            label {
                font-weight: 400;
                font-size: 12px;
                line-height: 12px;
            }
    
            .connect-Space_form--id {
                order: 0;
            }

            .connect-Space_form--password {
                order: 1;
                position: relative;

                input  {
                    width: calc(94% - 32px);
                    padding-right: 32px;
                }

                .connect-Space_form--password--eyeOpenSVG, .connect-Space_form--password--eyeCloseSVG {
                    position: absolute;
                    top: 17px;
                    right: 25px;
                    color: black;

                    svg {
                        width: 25px;
                        height: 20px;
                    }
                }

                .connect-Space_form--password--eyeCloseSVG {
                    display : none;
                }

            }

            .connect-Space_form--submit {
                order: 2;
                margin-top: 36px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .btn {
                    margin-left: auto;
                    margin-right: 4%;
                    float: right;
                    padding: 0.8em 1.75em;
                    background-color: transparent;
                    border-radius: 6px;
                    border: 2px solid var(--color);
                    transition: .5s;
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                    z-index: 10;
                    font-weight: 600;
                    font-size: 11px;
                    text-transform: uppercase;
                    color: var(--color);
                }
                
                .btn::after, .btn::before {
                content: '';
                display: block;
                height: 100%;
                width: 100%;
                transform: skew(90deg) translate(-50%, -50%);
                position: absolute;
                inset: 50%;
                left: 25%;
                z-index: -1;
                transition: .5s ease-out;
                background-color: var(--color);
                }
                
                .btn::before {
                top: -50%;
                left: -25%;
                transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
                }
                
                .btn:hover::before {
                transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
                }
                
                .btn:hover::after {
                transform: skew(45deg) translate(-50%, -50%);
                }
                
                .btn:hover {
                color: var(--colorPannel);
                }
                
                .btn:active {
                filter: brightness(.7);
                transform: scale(.98);
                }
            }
        }

        .connect-Space_aide {
            text-align: right;
            margin-top: 40px;
            margin-right: 4%;
            color: var(--colorSoft);
        }
    }

    .NW-info {
        .NW-info__intro {
            margin-top: 0;
            color: var(--colorSoft);
        }

        .NW-info__title {
            margin-bottom: 5px;
            font-style: italic;
            font-weight: 500;
            font-size: 16px;
        }
        .NW-info__paragraphe {
            margin:0;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
        }
        .NW-info__paragraphe--multiligne {
            margin-bottom: 8px;
        }

        .NW-info__video {
            overflow:hidden; 
            padding-bottom:56.25%; 
            position:relative; 
            height:0;

            iframe {
                position: absolute;
                top: 0;
                left:0;
                right:0;
                width: 98%;
                height: 98%;

            }

            margin-bottom: 40px;
        }
    }

    .NW-footer {
        padding: 0;
        margin-bottom: 0;
        margin-top: auto;
    }

    .NW-footer--extra {
        height: 150px;
    }
}











.error {
    font-style: italic;
    font-weight: 900;
    margin: 0 3%;

    a {
        text-decoration:  none;
    }
}



.othersMobileMax {
    display: none;
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    margin: 0 2%;

    .othersMobileMax__heading {
        font-style: italic;
        font-weight: 400;
    }

    .othersMobileMax__solutions {
        margin-top:0;
        font-weight: 500;
    }
}

.othersMobileMin {
    display: none;
    font-family: 'Epilogue', sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 12px;
    margin: 0 2%;

    .othersMobileMin__solutions {
        margin-top:0;
        font-weight: 300;
    }
}





@media (min-width: 500px) {
    .othersMobileMax {
        display: inline-block;
    }

    .mobile {
        display:none;
    }

}

@media (max-width: 410px){
    .NW-meta {
        margin-top: -70px;

        .NW-meta__temp {
            font-size: 50px;
        }

        .NW-meta__quote {
            margin:12;
        }
    }

    .NW-pannelBodyPage .connect-Space #connect-Space_form .connect-Space_form--password {
        .connect-Space_form--password--eyeOpenSVG, .connect-Space_form--password--eyeCloseSVG {
            right: 20px;
        }
    }
}

@media (max-width: 360px){
    .NW-meta {
        margin-top: -55px;

        .NW-meta__temp {
            font-size: 35px;
        }

        .NW-meta__quote {
            margin: 6;
        }
    }

    .NW-pannelBodyPage .connect-Space #connect-Space_form .connect-Space_form--password {
        .connect-Space_form--password--eyeOpenSVG, .connect-Space_form--password--eyeCloseSVG {
            right: 15px;
        }
    }
}

@media (max-width: 316px) {
    .othersMobileMin {
        display: inline-block;
    }
    
    .othersMobileMax {
        display: none;
    }

    .mobile {
        display:none;
    }
}