#weather-3D {
  height: 500px;
}

body {
  font-family: "Epilogue", sans-serif;
  margin: 0;
  color: var(--colorText);
}

.zeroMargin {
  margin: 0;
}

.startMargin {
  padding: 0 4%;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  white-space: nowrap;
}

.subtitle {
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
}

.NW-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5%;
  width: 92%;
}
.NW-header .NW-header__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 0px 4px;
  gap: 6px;
  order: 0;
  color: var(--colorSoft);
}
.NW-header .NW-header__space {
  width: 100%;
  order: 1;
}
.NW-header .NW-header__icon {
  width: 24px;
  height: 24px;
  order: 2;
}
.NW-header .NW-header__icon .NW-header__icon--img {
  width: 24px;
  height: 100%;
}
.NW-header .NW-header__logo {
  width: 46px;
  height: 46px;
  order: 3;
}

.NW-interface3D {
  width: 88vw;
  height: 77vw;
  /* background-color: red; */
}
.NW-interface3D .NW-interface3D__interaction {
  padding: 0 6.25%;
  width: 87.5%;
  height: 100%;
}

.NW-meta {
  margin-top: -90px;
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  color: var(--colorSoft);
}
.NW-meta .NW-meta__temp {
  position: relative;
  top: 20%;
  left: 2%;
  font-weight: 600;
  font-size: 70px;
  background: var(--colorDegrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.NW-meta .NW-meta__quote {
  margin: 24px;
}

.NW-pannel {
  background-color: var(--colorPannel);
  margin-top: 30px;
  padding: 16px 4.5%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  border-radius: 40px 40px 0px 0px;
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}
.NW-pannel .NW-pannel-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 52px;
  margin-bottom: 10px;
}
.NW-pannel .NW-pannel-header .NW-pannel-header_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 0px 4px;
  gap: 8px;
  width: auto;
}
.NW-pannel .NW-pannel-header .NW-pannel-header_text .NW-pannel-header_text-title {
  color: var(--colorMediumHight);
}
.NW-pannel .NW-pannel-header .NW-pannel-header_text a {
  text-decoration: none;
}
.NW-pannel .NW-pannel-header .NW-pannel-header_text a .NW-pannel-header_text-subtitle {
  color: var(--colorMedium);
  opacity: 0.82;
}
.NW-pannel .NW-pannel-header .NW-pannel-header_icon {
  width: 30px;
  height: 30px;
}
.NW-pannel .NW-pannel-header .NW-pannel-header_icon img {
  width: 100%;
  height: auto;
}
.NW-pannel .NW-pannel-infoArchive {
  text-decoration: none;
}
.NW-pannel .NW-pannel-infoArchive p {
  text-align: center;
  color: var(--colorMedium);
  text-decoration: underline;
}

.NW-footer {
  background-color: var(--colorPannel);
  padding: 20px 4.5%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  order: 8;
  font-size: 12px;
  font-style: italic;
}
.NW-footer .NW-footer__primaryInfo {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  order: 0;
  margin: 0;
  width: 100%;
  height: 30px;
}
.NW-footer .NW-footer__primaryInfo .NW-footer__primaryInfo--texte {
  display: block;
  font-weight: 400;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  order: 0;
  margin: 0;
  width: 100%;
  text-decoration: none;
  color: var(--colorText);
}
.NW-footer .NW-footer__primaryInfo .NW-footer__primaryInfo--iconMode {
  margin: 2px 0;
  padding-left: 4px;
  padding-right: 8px;
  width: 44px;
}
.NW-footer .NW-footer__secondaryInfo {
  display: block;
  font-weight: 400;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin: 0;
  order: 1;
  align-self: stretch;
  text-decoration: none;
  color: var(--colorText);
}
.NW-footer .NW-footer__certif {
  width: 100%;
  font-weight: 200;
  text-align: right;
  order: 2;
  text-decoration: none;
  color: var(--colorText);
}

.NW-pannelBodyPage {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 0px;
  gap: 12px;
  width: auto;
  background: #121212;
  border-radius: 40px 40px 0px 0px;
}
.NW-pannelBodyPage .NW-header {
  display: flex;
  flex-direction: row;
  padding: 0px;
  justify-content: space-between;
  width: 100%;
}
.NW-pannelBodyPage .NW-header .NW-header__logo img {
  width: 46px;
  height: 46px;
  order: 1;
}

.error {
  font-style: italic;
  font-weight: 900;
  margin: 0 3%;
}
.error a {
  text-decoration: none;
}

.othersMobileMax {
  display: none;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  margin: 0 2%;
}
.othersMobileMax .othersMobileMax__heading {
  font-style: italic;
  font-weight: 400;
}
.othersMobileMax .othersMobileMax__solutions {
  margin-top: 0;
  font-weight: 500;
}

.othersMobileMin {
  display: none;
  font-family: "Epilogue", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 12px;
  margin: 0 2%;
}
.othersMobileMin .othersMobileMin__solutions {
  margin-top: 0;
  font-weight: 300;
}

@media (min-width: 500px) {
  .othersMobileMax {
    display: inline-block;
  }
  .mobile {
    display: none;
  }
}
@media (max-width: 410px) {
  .NW-meta {
    margin-top: -70px;
  }
  .NW-meta .NW-meta__temp {
    font-size: 50px;
  }
  .NW-meta .NW-meta__quote {
    margin: 12;
  }
}
@media (max-width: 360px) {
  .NW-meta {
    margin-top: -55px;
  }
  .NW-meta .NW-meta__temp {
    font-size: 35px;
  }
  .NW-meta .NW-meta__quote {
    margin: 6;
  }
}
@media (max-width: 316px) {
  .othersMobileMin {
    display: inline-block;
  }
  .othersMobileMax {
    display: none;
  }
  .mobile {
    display: none;
  }
}/*# sourceMappingURL=styleGeneral.css.map */