header h1{
    font-weight: bold;
    font-size: medium;
    color: white;
    background-color: black;
}
body{
    background-color: black;
}
header p{
    color: white;
}
case{
    color: white;
    background-color: white;
}

Connexion{
    color: white;
    margin-left: 73%;
    background-color: aqua;
    border-radius: 40%;
    overflow: auto;
}
a{
    color: white;
    text-decoration: none;
}
footer{
    margin-top: 100%;
}