.d1{
    align-content: flex-end;
    height: 50%;
    width: 70%;
    
}
.p1{
    font-weight: bold;
    align-content: flex-end;
    font-size:  large;
    color: brown;
}

.p2{
    align-content: center;
    font-size: small;
    color: white;
}
.p3{
    align-content: center;
    font-size: small;
    color: white;
}
.p4{
    align-content: center;
    font-size: small;
    color: white;
}
.p5{
    align-content: center;
    font-size: small;
    color: white;
}
.p6{
    align-content: center;
    font-size: small;
    color:white;
}
.p7{
    align-content: center;
    font-size: small;
    color: white;
}
.p8{
    align-content: center;
    font-size: small;
    color: white;
}
.p9{
    align-content: center;
    font-size: small;
    color: white;
}
.p10{
    align-content: center;
    font-size: small;
    color: white;
}
.p11{
    align-content: center;
    font-size: small;
    color: white;
}
.p12{
    align-content: center;
    font-size: small;
    color: white;
}
.p13{
    align-content: center;
    font-size: small;
    color: white;
}
.p14{
    align-content: center;
    font-size: small;
    color: white;
}
.p15{
    align-content: center;
    font-size: small;
    color: white;
}
.SAUVEGARDER{
    margin-left: 580px;
    border-radius: 19%;
    border: solid black;
    align-content: center;
    background-color: yellow;
}

.p17{
    font-size: small ;
    text-decoration: none ;
}
.p18{
    font-size: small;
}
.DECO{
    border: solid blue;
    background-color: aqua;
    border-radius: 19%;
    border-width: 10px;
    text-decoration: none;
    border-right: 10px;
}

body{
    background-color: black;
}
section{
    color: black;
}