#weather-3D {
    height: 500px;
}

body {
    font-family: 'Epilogue', sans-serif;
    padding: 0 2%;
}

.NW-header {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 2.5%;

width: 100%;
}

.NW-header .NW-header__titles{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 12px 0px 4px;
gap: 4px;
order:0;

color: var(--colorSoft);
}

.NW-header .NW-header__titles .NW-header__titles--Place {
    font-weight: 700;
    font-size: 16px;

    /* Eviter les retours à la ligne */
    white-space:nowrap;
}

.NW-header .NW-header__titles .NW-header__titles--Now {
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
}

.NW-header .NW-header__space {
    width: 100%;
    order: 1;
}

.NW-header .settingsLink {
    width: 24px;
    height: 24px;
    order: 2;
}

.NW-header .settingsIcon {
    width: 24px;
    height: 100%;
}

.NW-header .logoIcon {
    width: 46px;
    height: 46px;
    order: 3;
}



.weather-3D {
    width : 92vw;
    height: 92vw;
}



.error {
    font-style: italic;
    font-weight: 900;
}

.error a {
    text-decoration:  none;
}



.othersMobile {
    display: none;
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
}

.othersMobile .othersMobile__heading {
    font-style: italic;
    font-weight: 400;
}

.othersMobile .othersMobile__solutions {
    margin-top:0;
    font-weight: 500;
}

@media (min-width: 500px) {
    .othersMobile {
        display: block;
    }

    .mobile {
        display:none;
    }

}