header h1{
    font-weight: bold;
    font-size: medium;
    color: black;
    background-color: wheat;
}
body{
    background-color: wheat;
}
header p{
    color: black;
}
case{
    color: black;
    background-color: black;
}

Connexion{
    color: black;
    margin-left: 70;
    background-color: aqua;
    border-radius: 40%;
    overflow: auto;
}
a{
    color: black;
    text-decoration: none;
}
footer{
    margin-top: 100%;
}